html {
    width: 100%;
}

.header {
/*    position: absolute;
    top: 0;
    left: 0;*/
    display: block;
    width: 100%;
    height: 60px;
    background-color: purple;
}

.mcontent {
/*    position: absolute;
    top: 60px;
    left: 0;*/
    display: block;
    width: 100%;
    min-height: 800px;
    background-color: mediumpurple;
}

.footer {

    display: block;
    width: 100%;
    height: 30px;
    background-color: rebeccapurple;
}